h1{
    background-color: blue;
    display: inline-block;
}

h2{
border: 1px solid red;

}
  span{
    border: 1px solid black;
  }

  a{
    border: 1px solid ;
  }

  p{
    border: 1px solid red;
    
  }
    
  strong{
    border: 1px solid black;
  }
   
  .junto{
    margin: 0;
  },