.quadrado{
    background-color: gainsboro;
    width: 200px;
    height: 80px;
    
border: 6px solid black;
    border-right: 20px solid black;
    border-left: 20px solid black;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 210px;
    padding-top: 250px;
    padding-left: 30px;
    padding-bottom: 400px;

}

p{
    margin: 0;
}