h1{
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tagpai{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    justify-content: center;
}