h1{
    background-color: aquamarine;
    margin: 0%;
    padding: 10px;
}

.index1{
    background-color: chartreuse;
    position: relative;
    top: 40px;
    z-index: 1;   
}

.index2{
    position: relative;
    background-color: brown;
    top: -40px;
    z-index: -1;
}